{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

    <br>
    <div class="container">
            <img src="{% static 'street.jpg' %}" width="100%"  alt="">
            <table class="table">
                <thead class="thead-dark">
        
                <tr>
                    <th scope="col" >#</th>
                    <th scope="col" style="width:50%; text-align:center;" >First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                {% for blog in posts %}
                <tr>
                    <th scope="row">{{blog.id}}</th>
                    <td style="width:50%; text-align:center;"><a href="{% url 'detail' blog.id %}"> {{blog.title}} </a></td>
                    <td>{{blog.username}}</td>
                    <td>{{blog.pub_date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if posts.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                <li class="page-item"><a class="page-link" href="?page={{posts.previous_page_number}}">Previous</a></li>
                {% endif %}
                
                {% for i in pageRange %}
                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endfor %}
    
                {% if posts.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{posts.next_page_number}}"">Next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{posts.paginator.num_pages}}">Last</a></li>
                {% endif %}
    
                
            </ul>
        </nav>
    </div>

{% endblock %}}