<header>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</header>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">LIKELION</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'newblog' %}">New Post</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'portfolio'%}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Portfolio
                </a>
            </li>
            
            </ul>
            {% if user.is_authenticated %}
                <a class="nav-link" style="color:white;">{{ user.username}}님! 환영합니다 </a>
                <a class="nav-link" href="javascript:{document.getElementById('logout').submit()}">Logout</a>
                    <form id="logout" method="POST" action="{% url 'logout' %}">
                        {% csrf_token %} <input type="hidden" />
                    </form>
            {% else %}
                <a class="nav-link" href="{% url 'login' %}">로그인</a>
                <a class="nav-link" href="{% url 'signup' %}">회원가입</a>
            {% endif %}
    
            <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="container" style="border-style:groove;border-width: 0px 1px 0px 1px;">
        {% block content %}
        {% endblock %}
    </div>
</body>
<footer>
    <div class="conatiner" style="height:10%;width:100%;background-color: white;text-align: center;">
            <a href="https://github.com/YoonShinWoong" style="color:black;"><i class="fab fa-github" style="font-size:20px;"></i> Github</a> &nbsp;&nbsp; 
            <a href="https://woongsin94.tistory.com/" style="color:black;"><i class="fas fa-blog" style="font-size:20px;"></i> Blog </a>
    </div>
</footer>

<style>
    @font-face { font-family: 'BMJUA'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff'); font-weight: normal; font-style: normal; }
    body{
        font-family:'BMJUA';        
    }
</style>